# Database (PostgreSQL - use Neon, Supabase, or local PostgreSQL)
DATABASE_URL="psql 'postgresql://neondb_owner:npg_pIgvAX31riod@ep-weathered-morning-ae09o2se-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require'"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Stripe
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_PUBLISHABLE_KEY="pk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."
